name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on windows-latest
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.x'
      - name: Download libdiscid
        shell: powershell
        run: |
          Invoke-WebRequest -Uri http://ftp.musicbrainz.org/pub/musicbrainz/libdiscid/libdiscid-0.6.1-win32.zip -OutFile libdiscid-0.6.1.zip -UserAgent [Microsoft.PowerShell.Commands.PSUserAgent]::Chrome
          Expand-Archive -LiteralPath libdiscid-0.6.1.zip -DestinationPath libdiscid-dll
      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel
      - name: Set Windows ENV
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86
      - name: Prepare libdiscid.def
        run: |
          echo EXPORTS > libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_new >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_free >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_read >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_read_sparse >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_put >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_error_msg >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_id >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_freedb_id >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_toc_string >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_submission_url >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_webservice_url >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_default_device >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_first_track_num >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_last_track_num >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_sectors >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_track_offset >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_track_length >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_mcn >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_track_isrc >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_has_feature >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_feature_list >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          echo discid_get_version_string >> libdiscid-dll/libdiscid-0.6.1-win32/discid.def
          lib /def:libdiscid-dll/libdiscid-0.6.1-win32/discid.def /out:libdiscid-dll/libdiscid-0.6.1-win32/discid.lib /machine:x86
      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: "cp38-win32 cp39-win32 cp310-win32 cp311-win32 cp312-win32"
          CIBW_ENVIRONMENT: "LIBDISCID_HOME=libdiscid-dll"
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.whl

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        sudo apt-get install -y libdiscid-dev pkg-config
        python -m pip install --upgrade pip
        pip install setuptools pkgconfig "Cython >= 0.15"
    - name: Build sdist
      run: |
        python setup.py sdist
    - uses: actions/upload-artifact@v3
      with:
        path: dist/*

  publish:
    name: Publish to PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
